<div data-control="toolbar">
    <a
        href="<?= Backend::url('jmsystems/gallery/galleries/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= __('jmsystems.gallery::lang.actions.new') ?>
    </a>

    <a
        href="<?= Backend::url('jmsystems/gallery/galleries/reorder') ?>"
        class="btn btn-default">
        <?= __('jmsystems.gallery::lang.actions.reorder') ?>
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="<?= __('jmsystems.gallery::lang.actions.deletePrompt') ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        <?= __('jmsystems.gallery::lang.actions.delete') ?>
    </button>
</div>
