<?php Block::put('breadcrumb') ?>
    <ul>

        <li><a href="<?= Backend::url('jmsystems/gallery/galleries') ?>">
            <?= __('jmsystems.gallery::lang.navigation.galleries') ?>
        </a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-browser-validate
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= __('jmsystems.gallery::lang.controllers.form.indication.creating') ?>"
                    class="btn btn-primary">
                    <?= __('jmsystems.gallery::lang.actions.create') ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-browser-validate
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= __('jmsystems.gallery::lang.controllers.form.indication.creating') ?>"
                    class="btn btn-default">
                    <?= __('jmsystems.gallery::lang.actions.createAndClose') ?>
                </button>
                <span class="btn-text">
                    <?= __('jmsystems.gallery::lang.actions.or') ?>
                     <a href="<?= Backend::url('jmsystems/gallery/galleries') ?>">
                    <?= __('jmsystems.gallery::lang.actions.cancel') ?>
                    </a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('jmsystems/gallery/galleries') ?>" class="btn btn-default">
    <?= __('jmsystems.gallery::lang.actions.returnToList') ?>
    </a></p>

<?php endif ?>
