<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('jmsystems/gallery/galleries') ?>">
            <?= __('jmsystems.gallery::lang.navigation.galleries') ?>
        </a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('jmsystems/gallery/galleries') ?>" class="btn btn-default">
        <?= __('jmsystems.gallery::lang.actions.returnToList') ?>
    </a></p>

<?php endif ?>
